/* 
#164A41 deepgreen
#4D774E mediumgreen
#9DC88D palegreen
#F1024A gold
#
*/


*{
    margin: 0;
    padding: 0;
    color: rgb(17, 17, 19);
    font-family: 'Indie Flower', cursive;
}

body{
    background-color: rgb(241, 217, 163);
}
.player{
    width: 100px;
    height: 50px;
    background-color: #ad8835;
    border: 3px #5a5025 solid;
    border-radius: 10px;
    margin: 15px;
  
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    text-align: center;


    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#content{
    display: flex;
    
}

#roll{
    display: none;
    width: 100%;
}

#dice{
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
}

#players{
 width: 20%;
 height: 100%;
 
 border-radius: 20px;
 padding: 10px;
 
}

#boardContainer{
    padding: 10px;
   
    height: 100%;
  
}

.bloczek{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    float: left;
    background-size: cover;

}
#board{
     background-image: url("./modules/images/plansza.svg");
    background-size: cover;
    width: 650px;
    height: 650px; 
}

#actionPanel{
    height: 100%;
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
